:root{
  --main-color: #ffc31d; /*#c12020;*/
  --main-background: #24272e;
  --main-content: #1d1f25;
  --accent-color: #c12020;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}

.font-anton{
  font-family: "Anton", sans-serif;
}

.main-color{
  color: var(--main-color);
}

.accent-color{
  color: var(--accent-color)
}

.white-color{
  color: #fafafa;
}

.main-background{
  background-color: var(--main-color);
}

.main-border{
  border-color: var(--main-color);
}

.white-link{
  color: white;
  text-decoration: underline dotted 2px white;
}

.sec-color{
  color: var(--main-background);
}

.text-justify{
  text-align: justify;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover {
  color: #ff8686;
  text-decoration: none;
}

.small-title{
  position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #716868;
  padding-bottom: 4px;
}
.small-title::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  left: 0px;
  bottom: 0px;
  background: var(--main-color);
}

.small-title.white{
  color: rgba(255,255,255,0.6);
}

.text-semi-white{
  color: rgba(255,255,255,0.6);
}

.title-section{
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
}

h2.style{
  font-size: 40px;
  line-height: 45px;
  font-weight: 900;
  margin-bottom: 32px
}

h3.style{
  font-size: 26px;
  line-height: 36px;
  font-weight: 900;
}

h4.style{
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.font-size-50px{
  font-size: 50px !important;
}

.owl-theme .owl-nav {
  margin: 0px !important
}

.font-14px{
  font-size: 14px;
}

.font-16px{
  font-size: 16px;
}

.font-40px{
  font-size: 40px;
}
.font-60px{
  font-size: 60px;
}

.line-height-60px{
  line-height: 60px;
}

.font-80px{
  font-size: 80px;
}

.line-height-80px{
  line-height: 80px;
}

/* HEader */

.page-header{
  position: fixed;
  top: 0px;
  background: var(--main-color);
  transition: all 0.5s;
  /* height: 90px; */
  min-height: 92px;
  z-index: 10;
  width: 100%;
}

.header-top{
  display: flex;
  justify-content: end;
  gap: 10px;
}

.header-top a{
  color: white;
  font-size: 12px;
}

.header-top a:not(:first-child)::before{
  display: inline-block;
  padding-right: 10px;
  color: rgba(255, 255, 255, 0.5);
  content: "/";
}

.page-header.scrolled{
  background-color: rgba(0, 0, 0, 0.6);
}

.page-header .logo{
  max-height: 90px;
}

.container-logo{
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,.45);
}

.page-header .container-links{
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 40px;
  margin-top: 16px;
  margin-bottom: 24px;
}

.page-header .header-link{
  color: white;
  opacity: 0.75;
  font-size: 15px;
  transition: all 0.5s;
}

.page-header .header-link:hover{
  opacity: 0.9;
}

.page-header .header-link.active{
  opacity: 1;
  color: #FFF;
  font-weight: bold;
  position: relative;
}

.page-header .header-link.active::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 42px;
  height: 3px;
  background-color: white;
}

.page-header .header-link.active.inicio::after{
  width: 42px;
}

.page-header .header-link.active.nosotros::after{
  width: 69px;
}

.page-header .header-link.active.planta::after{
  width: 50px;
}

.page-header .header-link.active.metal::after{
  width: 125px;
  left: -4px;
}

.page-header .header-link.active.fibra::after{
  width: 112px;
  left: -4px;
}


.page-header .header-link.active.procesos::after{
  width: 75px;
}

.page-header .header-link.active.contact::after{
  width: 72px;
}


.page-header .header-link.active:hover{
  color: #FFF;
  font-weight: bold;
}

.page-header .header-close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2rem;
}

#hover-interactive-header{
  transition: all 0.3s;
  position: fixed;
  top: 0px;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.95);
}

#hover-interactive-header.active{
  left: 0px;
}

.logo-container{
  position: relative;
}

@media (max-width: 992px) {
  .logo-container{
    text-align: center;
  }

  .menu{
    color: white;
    position: absolute;
    right: 0px;
    top: 18px;
    border-radius: 8px;
    font-size: 2rem;
  }

  .page-header .header-main-container{
    background-color: var(--main-color);
    position: fixed;
    width: 260px;
    left: -259px;
    height: 100%;
    padding: 23px;
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .page-header .header-main-container .header-top{
    flex-flow: column;
    gap: 12px;
    align-items: start;
    justify-content: start;
  }

  .page-header .header-main-container .header-top a:not(:first-child)::before{
    content: none;
  }

  .page-header .header-main-container .container-links{
    /* background-color: rgba(25, 25, 25); */
    flex-flow: column;
    gap: 12px;
    align-items: start;
    justify-content: start;
    /* transition: all 0.5s; */
  }

  .page-header .header-main-container.active{
    left: 0px;
  }
}

.header-dropdown{
  border-radius: 0px;
  background-color: var(--main-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 5px 0px;
}

@media (max-width: 992px) {
  .header-dropdown{
    box-shadow: none;
  }
}
.header-dropdown .container-header-dropdown{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-flow: column;
}

.header-dropdown .container-header-dropdown .dropdown-header-link{
  color: white;
  opacity: 0.75;
  font-size: 15px;
  transition: all 0.5s;
}

.header-dropdown .container-header-dropdown .dropdown-header-link:hover{
  opacity: 0.9;
  background: #ddab00;
}

@media (max-width: 992px) {
  .header-dropdown .container-header-dropdown{
    color: white;
    padding-left: 1rem;
    background-image: linear-gradient(#fff, #fff);
    background-size: 2px 100%;
    background-repeat: no-repeat;
    background-position: 2px 0px;
  }
}
/* inicio */

.owl-prev, .owl-next {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border:0px solid black;
  background-color: rgba(255, 255, 255, 0.2) !important;
  transition: all 0.3s ease;
}
.owl-prev:hover, .owl-next:hover{
  background-color: white !important;
  color: black !important;
}
.owl-prev { left: 20px; }
.owl-next { right: 20px; }

.title-carousel{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  left: 0px;
}

.title-carousel .big-title{
  font-size: 80px;
  color: var(--main-color);
}

@media (max-width: 1400px) {
  .title-carousel .big-title{
    font-size: 80px;
  }
}

@media (max-width: 1200px) {
  .title-carousel .big-title{
    font-size: 70px;
  }
}

@media (max-width: 992px) {
  .title-carousel .big-title{
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .title-carousel .big-title{
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .title-carousel .big-title{
    font-size: 30px;
  }
}

.title-carousel .second-title{
  font-size: 100px;
  text-transform: uppercase;
  background-image: url(https://placehold.co/2000x1000);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  display: block;
  background-repeat: no-repeat;
  filter: brightness(0.80);
}

@media (max-width: 1400px) {
  .title-carousel .second-title{
    font-size: 100px;
  }
}

@media (max-width: 1200px) {
  .title-carousel .second-title{
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .title-carousel .second-title{
    font-size: 70px;
  }
}

@media (max-width: 768px) {
  .title-carousel .second-title{
    font-size: 60px;
  }
}

@media (max-width: 576px) {
  .title-carousel .second-title{
    font-size: 40px;
  }
}

.hero{
  background-image: url(../img/inicio/abstract-burning-bright-smoke-black-background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-add{
  padding: 100px 0px;
}

.hero .logo{
  max-width: 700px;
  padding-top: 7rem;
  padding-bottom: 7rem;
  height: auto;
}

@media (max-width: 992px) {
  .hero .logo{
    max-width: 100%;
  }
}

.wrapper-hero-text{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column;
  margin: 5rem 0px;
}

@media (max-width: 992px) {
  .wrapper-hero-text{
    align-items: center;
    text-align: center;
    order: 2;
  }
}

.wrapper-hero-img{
  display: flex;
  align-items: start;
  justify-content: center;
  flex-flow: column;
  margin: 5rem 0px;
}

@media (max-width: 992px) {
  .wrapper-hero-img{
    margin: 0px;
    align-items: center;
    order: 1;
  }
}

.hero-btn{
  background-color: var(--main-color);
  color: white !important;
  position: relative;
  display: inline-block;
  cursor: pointer;
}


.hero-btn::before{
  position: absolute;
  content: '';
  width: 0%;
  height: 100%;
  background: #2d2727;
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
}

.hero-btn:hover::before {
  width: 100%;
}

.logo-2{
  max-width: 340px;
  height: auto;
}

@media (max-width: 992px) {
  
  .logo-2{
    max-width: 200px;
  }
}

/* Acerca */
.wrapper-img-nosotros{
  padding: 0px 40px 50px 0px;
}

.wrapper-img-nosotros::before{
  content: "";
  position: absolute;
  background: #f5f0f0;
  width: calc(100% + 0px);
  height: calc(100% - 60px);
  top: 60px;
  left: -60px;
  z-index: -1;
}



.info-img-nosotros{
  position: absolute;
  background-color: var(--main-color);
  color: white;
  bottom: 0px;
  left: -60px;
  text-align: center;
  padding: 30px 50px 30px;
  max-width: 200px;
}

@media (max-width: 1400px) {
  .wrapper-img-nosotros::before{
    left: -30px;
  }

  .info-img-nosotros{
    left: -30px;
  }
}

@media (max-width: 1200px) {
  .wrapper-img-nosotros::before{
    left: -20px;
    height: calc(100% - 130px);
  }

  .info-img-nosotros{
    left: -20px;
    bottom: 70px;
  }
}

@media (max-width: 992px) {
  .wrapper-img-nosotros{
    text-align: center;
  }
  .wrapper-img-nosotros::before{
    left: -20px;
    height: calc(100% - 110px);
  }

  .info-img-nosotros{
    left: -20px;
    bottom: 50px;
  }
}

@media (max-width: 768px) {
  .wrapper-img-nosotros{
    padding-right: 0px;
  }
  .wrapper-img-nosotros::before{
    left: -5px;
    height: calc(100% - 110px);
  }

  .info-img-nosotros{
    left: -5px;
    bottom: 50px;
  }
}

@media (max-width: 576px) {
  .info-img-nosotros{
    padding: 20px;
  }
}

.icon-text-nosotros{
  font-size: 60px;
  line-height: 50px;
  color: var(--main-color);
}

i.checks-nosotros{
  font-size: 22px;
}

/* Valores */
.values{
  background-color: #f5f0f0;
  margin-top: 5rem;
  padding: 115px 0px 120px 0px;
}

.container-value{
  background-image: url(https://placehold.co/600x600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  position: relative;
}
.cc-value{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.content-value{
  position: absolute;
  top: 15px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 30px 30px;
  transition: all 500ms ease;
  flex-flow: column;
  color: white;
  opacity: 0;
}
.container-value:hover .cc-value::after{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0,0, 0.6);
}
.container-value:hover .content-value{
  top: 0px;
  opacity: 1;
}


/* certificados */

.certificados{
  background-color: #2d2727;
}
.cert-text{
  padding: 115px 60px 120px 60px
}


.cert-text-box{
  max-width: 660px;
  margin-left: auto;
}

@media (max-width: 992px) {
  .cert-text-box{
    max-width: unset;
  } 
}
.progress-box{
  position: relative;
}

.progress-box .indicator{
  position: absolute;
  top: -5px;
  left: -30px;
  color: white;
  font-size: 30px;
}
.progress-box .bar{
  position: relative;
  width: 100%;
  height: 8px;
  background: rgba(255,255,255,0.1);
  border-radius: 0px;
  margin-bottom: 12px;
}

.progress-box .bar .bar-inner{
  position: relative;
  display: block;
  width: 0px;
  height: 8px;
  -webkit-transition: all 1500ms ease;
  -ms-transition: all 1500ms ease;
  -o-transition: all 1500ms ease;
  -moz-transition: all 1500ms ease;
  transition: all 1500ms ease;
  background: var(--main-color);
}

.img-cert{
  background-image: url(https://placehold.co/800x1200);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

@media (max-width: 992px) {
  .img-cert{
    height: 600px;
  }
}

/* Servicios */
.servicios{
  background-color: #f5f0f0;
  padding: 115px 0px 120px 0px;
}

.service-box{
  position: relative;
  display: block;
  background: #fff;
  padding: 52px 15px 45px 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.02);
  text-align: center;
  height: 100%;
}

.service-box::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
  background: var(--main-color);
}

.service-box:hover{
  color: white;
}

.service-box:hover i{
  color: white;
}


.service-box:hover::before{
  height: 100%;
}

.service-box i{
  position: relative;
  display: inline-block;
  font-size: 65px;
  line-height: 60px;
  color: #2d2727;
  margin-bottom: 15px;
  transition: all 500ms ease;
}

.service-box h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  transition: all 500ms ease;
}

/* diseños */
.diseños{
  padding: 115px 0px 120px 0px;
}

.disign-box{
  background-color: #f5f0f0;
  padding: 2rem 3rem;
  margin-bottom: 0.5rem;
}

.icon-design-box{
  width: 78px;
  height: 78px;
  line-height: 78px;
  text-align: center;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  background: var(--main-color);
}

.icon-text-box{
  display: flex;
  align-items: center;
  justify-content: start;
}

/* proyectos */
.proyectos{
  padding: 115px 0px 120px 0px;
}

.proyect-image-box{
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.proyect-image{
  background-image: url(https://placehold.co/600x600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all .5s;
}

.proyect-image-box:hover .proyect-image,
.proyect-image-box:focus .proyect-image{
  transform: scale(1.2);
}

.proyect-image-box::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 0%;
  left: 0px;
  top: 0px;
  transition: all 500ms ease;
  background: var(--main-color);
  color: white;
  opacity: 0.9;
}

.proyect-image-box:hover::after{
  height: 100%;
}

.proyect-image-link{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0,0);
  font-size: 60px;
  line-height: 50px;
  color: #fff;
  font-weight: 200;
  z-index: 1;
  transition: all 500ms ease;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

.proyect-image-box:hover .proyect-image-link{
  transform: translate(-50%,-50%) scale(1,1);
}

/* extgintores */
.extintores{
  background-color: #f5f0f0;
  padding: 115px 0px 120px 0px;
}

/* capacitaciones */
.capacitaciones{
  padding: 115px 0px 120px 0px;
}

.capacitacion-img{
  background-image: url(https://placehold.co/600x600);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  position: relative;
}

.capacitacion-text{
  background-color: #f5f0f0;
  padding: 30px;
}

.capacitacion-parag{
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
}

.capaciacion-link{
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  color: #2d2727;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.capaciacion-link:hover{
  background: var(--main-color);
  color: white;
}

/* clientes */
.clientes{
  background-color: #f5f0f0;
  padding: 115px 0px 120px 0px;
}

/* contacto */
.contacto{
  padding: 115px 0px 120px 0px;
}

.contact-icon{
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  background: var(--main-color);
}

.contact-link{
  font-weight: 600;
  transition: all 500ms ease;
  box-shadow: none;
  text-decoration: none;
  color: #716868;
}

.contact-link:hover{
  color: var(--main-color);
}

.contact-elements{
  border-bottom: 1px solid #eee8e8;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.contact-marker{
  display: flex;
  align-items: center;
}

.contact-info{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: column;
  gap:5px
}

.contact-input{
  position: relative;
  display: block;
  width: 100%;
  height: 70px;
  background: #f5f0f0;
  border: 1px solid #f5f0f0;
  font-size: 16px;
  color: #706767;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 500ms ease;
}

.contact-input:focus,
.contact-input:focus-visible{
  border-color: var(--main-color) !important;
}

.contact-textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 230px;
  resize: none;
  background: #f5f0f0;
  border: 1px solid #f5f0f0;
  font-size: 16px;
  color: #706767;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 500ms ease;
}

.contact-textarea:focus{
  border-color: var(--main-color) !important;
}

.mapa{
  position: relative;
  width: 100%;
  height: 550px;
}

/* footer */
.footer{
  background-color: var(--main-content);
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
}

.font-weight-bold{
  font-weight: bold;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6bc1e9;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

.quick-about{
  background-color: var(--main-background);
  padding: 115px 0px 120px 0px;
}

.container-img-quick-about{
  position: relative;
}

.container-img-quick-about::before{
  position: absolute;
  content: "";
  background-color: transparent;
  border: 20px solid var(--main-color);
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  right: 0px;
  top: 0px;
}

@media (max-width: 1200px) {
  .container-img-quick-about::before{
    height: calc(100% - 16rem);
  }
}

@media (max-width: 992px) {
  .container-img-quick-about::before{
    height: calc(100% - 6rem);
  }
}

.img-quick-about-desc{
  position: absolute;
  background-color: var(--main-color);
  color: #fafafa;
  padding: 16px;
  bottom: 30px;
  left: 100px;
  z-index: 1;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

@media (max-width: 1200px) {
  .img-quick-about-desc{
    bottom: 130px;
  }
}

@media (max-width: 992px) {
  .img-quick-about-desc{
    bottom: 30px;
  }
}


.img-quick-about{
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.container-buttons-quick-about{
  display: flex;
  gap: 40px;
}

.quick-procesos1{
  background-color: var(--main-background);
  padding: 30px 0px 0px 0px;
}

.quick-procesos2{
  background-color: var(--main-color);
  padding: 0px 0px 120px 0px;
}

.uppercase{
  text-transform: uppercase;
}

.desc-quick-proccess{
  background-color: var(--main-background);
}

.about-title{
  background-color: var(--main-color);
  padding: 150px 0px 120px 0px;
}

.back-title{
  color: white;
  opacity: 0.1;
  font-size: 160px;
  text-transform: uppercase;
}

@media (max-width: 1400px) {
  .back-title{
    font-size: 160px;
  }
}

@media (max-width: 1200px) {
  .back-title{
    font-size: 120px;
  }
}

@media (max-width: 992px) {
  .back-title{
    font-size: 100px;
  }
}

@media (max-width: 768px) {
  .back-title{
    font-size: 80px;
  }
}

@media (max-width: 576px) {
  .back-title{
    font-size: 60px;
  }
}

.upper-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 1400px) {
  .upper-title{
    font-size: 80px;
  }
}

@media (max-width: 1200px) {
  .upper-title{
    font-size: 70px;
  }
}

@media (max-width: 992px) {
  .upper-title{
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .upper-title{
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .upper-title{
    font-size: 40px;
  }
}

.main-about{
  background-color: var(--main-background);
  padding: 115px 0px 120px 0px;
}

.container-img-main-about{
  position: relative;
}

.container-img-main-about::before{
  position: absolute;
  content: "";
  background-color: transparent;
  border: 20px solid var(--main-color);
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  left: 0px;
  top: 0px;
}

@media (max-width: 1200px) {
  .container-img-main-about::before{
    height: calc(100% - 16rem);
  }
}

@media (max-width: 992px) {
  .container-img-main-about::before{
    height: calc(100% - 6rem);
  }
}

.img-main-about{
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.container-buttons-main-about{
  display: flex;
  gap: 40px;
}

.main-procesos1{
  background-color: var(--main-background);
  padding: 30px 0px 0px 0px;
}

.main-procesos2{
  background-color: var(--main-color);
  padding: 0px 0px 120px 0px;
}


.desc-main-proccess{
  background-color: var(--main-background);
}

.values-title{
  color: white;
  text-decoration: underline 4px var(--main-color);
  text-underline-offset: 8px;
}

.policy-list{
  color: white;
  list-style-type: disclosure-closed;
}

.main-proccess{
  background-color: var(--main-background);
  padding: 115px 0px 120px 0px;
}

.main-proccess .main-proccess-desc{
  background-color: var(--main-content);
}

.main-contact{
  background-color: var(--main-background);
  padding: 115px 0px 120px 0px;
}


/* Sidebar 2 */

.hero-carousel{
  margin-top: 91px;
}

.hero-item{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-item::before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
  z-index: 0;
}

.z-1{
  z-index: 1;
}

.carrousel-container{
  padding-top: 224px;
  padding-bottom: 223px;
}

.hero-title{
  font-size: 70px;
  line-height: 80px;
}

/* Barra */

.barra{
  background-color: var(--main-color);
  padding: 20px 0px 20px 0px;
}

.quick-about-2{
  background-color: #fafafa;
  padding: 115px 0px 80px 0px;
}

.container-img-quick-about-2{
  position: relative;
}

.container-img-quick-about-2::before{
  position: absolute;
  content: "";
  background-color: transparent;
  border: 20px solid var(--main-color);
  width: calc(100% - 6rem);
  height: calc(100% - 6rem);
  right: 0px;
  top: 0px;
}

@media (max-width: 1200px) {
  .container-img-quick-about-2::before{
    height: calc(100% - 16rem);
  }
}

@media (max-width: 992px) {
  .container-img-quick-about-2::before{
    height: calc(100% - 6rem);
  }
}

.img-quick-about-2{
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

.container-buttons-quick-about-2{
  display: flex;
  gap: 40px;
}


.quick-procesos12{
  background-color: #fafafa;
  padding: 30px 0px 0px 0px;
}

.quick-contact{
  padding: 60px 0px 60px 0px;
}

.quick-services{
  background-color: #f0f0f0;
  padding: 115px 0px 120px 0px;
}

.desc-quick-services{
  background-color: #fff;
}